<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Sketching</title>
    <meta name="category" content="Canvas 2D" />
    <meta name="date" content="1611938992130" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>

  <body>
    <h1>
      Sketching<br />
      Sketching<br />
      Sketching<br />
      Sketching<br />
      Sketching<br />
      Sketching<br />
      Sketching<br />
      Sketching
    </h1>
    <img
      src="<%= require('./birmingham-museums-trust-x2g6ZnLO0_E-unsplash.jpg').src %>"
      alt=""
    />
    <canvas class="sketch"></canvas>
  </body>
</html>
