body {
  background: #d0c4bd;
}

canvas.sketch,
img {
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  box-shadow: 0px 1px 3px rgba(black, 0.12), 0px 16px 60px rgba(black, 0.2);
}

canvas.sketch {
  mix-blend-mode: overlay;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100px, -220px);
  font-size: 120px;
  color: #cabbb4;
  line-height: 100px;
}
