<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Masked Image</title>
    <meta name="category" content="WebGL 🔥" />
  </head>

  <body>
    <h1>Scroll Down</h1>
    <img src="<%= require('./img/mountain-1.jpeg?size=1200').src %>" alt="" />
    <img src="<%= require('./img/mountain-2.jpeg?size=1200').src %>" alt="" />
    <img src="<%= require('./img/mountain-3.jpeg?size=1200').src %>" alt="" />
  </body>
</html>
