<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>WebGL Demo</title>
    <meta name="category" content="WebGL 🔥" />
    <meta name="date" content="1579824000000" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <section>
      <img src="<%= require('./img/one.jpeg?size=1400').src %>" alt="" />
    </section>

    <section>
      <img src="<%= require('./img/award.jpeg?size=1400').src %>" alt="" />
    </section>

    <section>
      <img src="<%= require('./img/plane.jpeg?size=1400').src %>" alt="" />
    </section>
  </body>
</html>
