@import '../reset.scss';

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.switcher {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.switcher button {
  -webkit-appearance: none;
  border: none;
  background: white;
  width: 54px;
  height: 54px;
  box-shadow: 0px 4px 16px rgba(black, 0.2);
  margin: 0px 12px;
  border-radius: 40px;
  font-size: large;
  cursor: pointer;
  outline: none;

  &.active {
    background: black;
    color: white;
  }
}
