<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap"
      rel="stylesheet"
    />

    <title>Blur</title>
    <meta name="category" content="CSS Effects" />
    <meta name="date" content="1580256000" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <main>
      <ul>
        <li><a href="#">Flou</a></li>
        <li><a href="#">Blur</a></li>
        <li><a href="#">模糊</a></li>
        <li><a href="#">нечеткость</a></li>
      </ul>
    </main>
    <%= htmlWebpackPlugin.options.footerContent %>
  </body>
</html>
