@import '../../src/reset.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

$face__radius: 240px;
$face__center_radius: 180px;

$face__ticks_offset: 4px;
$face__small_ticks_length: 4px;
$face__medium_ticks_length: 8px;
$face__long_ticks_length: 18px;

$face__dial_radius: 40px;

.face {
  position: relative;
  width: $face__radius;
  height: $face__radius;
  border-radius: $face__radius;
  background: #262626;
}

.face__ticks {
}

.face__tick {
  display: block;
  width: 1px;
  height: 0.5 * $face__radius;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);

  // Small ticks
  background: linear-gradient(
    to bottom,
    transparent 0px,
    transparent #{$face__ticks_offset},
    white #{$face__ticks_offset},
    white #{$face__ticks_offset + $face__small_ticks_length},
    transparent #{$face__ticks_offset + $face__small_ticks_length}
  );

  // Medium ticks every second
  &:nth-child(5n) {
    background: linear-gradient(
      to bottom,
      transparent 0px,
      transparent #{$face__ticks_offset},
      white #{$face__ticks_offset},
      white #{$face__ticks_offset + $face__medium_ticks_length},
      transparent #{$face__ticks_offset + $face__medium_ticks_length}
    );
  }

  // Long ticks every 5 seconds
  &:nth-child(25n) {
    width: 3px;
    background: linear-gradient(
      to bottom,
      transparent 0px,
      transparent #{$face__ticks_offset},
      white #{$face__ticks_offset},
      white #{$face__ticks_offset + $face__long_ticks_length},
      transparent #{$face__ticks_offset + $face__long_ticks_length}
    );
  }

  @for $i from 1 through 60 * 5 {
    &:nth-of-type(#{$i}) {
      transform: translateX(-50%) rotate(#{1/5 * $i * 360 / 60}deg);
    }
  }
}

.face__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $face__center_radius;
  height: $face__center_radius;
  border-radius: $face__center_radius;
  background: #1a1a1a;
}

.face__dials {
}

.face__dial {
  display: block;
  width: $face__dial_radius;
  height: $face__dial_radius;
  border-radius: 0.5 * $face__dial_radius;
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;

  &:nth-of-type(1) {
    left: calc(50% - 120px);
    transform: translate(-100%, 0);
  }

  &:nth-of-type(2) {
    top: calc(50% + 120px);
    transform: translate(-50%, 100%);
  }

  &:nth-of-type(3) {
    left: calc(50% + 120px);
    transform: translate(100%, 0);
  }
}
