<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Laboratoire</title>
  </head>
  <body>
    <div class="container">
      <h1>Le<br />laboratoire</h1>
      <div class="categories">
        <% htmlWebpackPlugin.options.categories.forEach(category => { %>
        <div class="category">
          <h2><%= category %></h2>
          <ul>
            <% htmlWebpackPlugin.options.pages.filter(page => page.category ===
            category).forEach(page => { %>
            <li>
              <a href="/<%= page.slug%>"><%= page.name %></a>
            </li>
            <%}) %>
          </ul>
        </div>
        <%}) %>
      </div>
    </div>
  </body>
</html>
