<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <% htmlWebpackPlugin.options.categories.forEach(category => { %>
    <h2><%= category %></h2>
    <ul>
      <% htmlWebpackPlugin.options.pages.filter(page => page.category ===
      category).forEach(page => { %>
      <li>
        <a href="/<%= page.slug%>"><%= page.name %></a>
      </li>
      <%}) %>
    </ul>
    <%}) %>
  </body>
</html>
