@import './reset.css';

body {
  font-family: sans-serif;
  background: #fceef8;

  border-top: 8px solid #9e166e;
  border-left: 8px solid #9e166e;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  color: #9e166e;
}

.paragraphs {
  margin-top: 40px;
  display: flex;
  max-width: 680px;
  margin-left: 24px;
}

.paragraphs p {
  padding-right: 20px;
  line-height: 1.5;
  color: #9e166e;
  width: 50%;
}

.btn {
  padding: 14px 16px;
  font-size: 14px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #9e166e;
  margin-top: 40px;
  border-radius: 4px;
  margin-left: 24px;
}

.categories {
  margin-top: 64px;
  margin-left: 24px;
}

.category {
  margin-top: 32px;
}

h2 {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

ul {
  margin-top: 8px;
  margin-bottom: 20px;
  padding-left: 32px;
}

ul li {
  list-style-type: disc;
  padding-left: 8px;
}

ul li a {
  color: #9e166e;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 0;
  display: inline-block;
  position: relative;
}

ul li a::after {
  position: absolute;
  top: 40%;
  left: 10px;
  width: 100%;
  height: 50%;
  content: '';
  display: block;
  background: #ffddc9;
  z-index: -1;
  opacity: 0;
  transition: 0.1s;
}

ul li a:hover::after {
  opacity: 1;
}

.container {
  max-width: 1140px;
  margin: 80px auto;
  padding: 0 80px;
}
