<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Slider [Work in progress]</title>
    <meta name="category" content="WebGL 🔥" />
    <meta name="date" content="1609752498473" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <canvas></canvas>
    <img
      src="<%= require('./assets/ursa-bavcar-6O4zf9lga6Q-unsplash.jpg?size=1400').src %>"
      id="slovenia"
    />
    <img
      src="<%= require('./assets/la-so-vk4vjTNVrTg-unsplash.jpg?size=1400').src %>"
      id="italy"
    />
    <img
      src="<%= require('./assets/rodrigo-kugnharski-pdWc5wm1STw-unsplash.jpg?size=1400').src %>"
      id="france"
    />
    <img
      src="<%= require('./assets/damon-rice-FZHWvkquK2o-unsplash.jpg?size=1400').src %>"
      id="ny"
    />
  </body>
</html>
