@import '../reset.scss';

body {
  min-height: 100vh;
}

canvas {
  position: fixed;
  width: 75vw;
  height: 45vw;
  max-width: 750px;
  max-height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &#image {
  }

  &#tmp {
    opacity: 0;
  }

  &#stripes {
    top: 0;
    pointer-events: none;
  }
}

.input-group {
  z-index: 10;
  background: white;
  padding: 16px;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-family: system-ui;
}
