<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Wappalyzer is unreliable</title>
    <meta name="category" content="Misc" />
    <meta name="date" content="1639140949803" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>

  <body>
    <div class="container">
      <h1>
        Wappalyzer is <br /><strong>unreliable<sup>*</sup></strong>
      </h1>
      <p class="big"><sup>*</sup>and it doesn't matter</p>
      <h2>What is Wappalyzer</h2>
      <p>
        If you've never heard of it,
        <a href="https://www.wappalyzer.com/">the Wappalyzer extension</a> is a
        great tool that allows anyone to detect the technologies of a website.
      </p>
      <p>
        Since it comes as a browser extension for popular browsers like Chrome,
        Firefox and Safari, it's always just a click away. All my web developer
        friends and I have made a habit of using it whenever we browse an
        interesting website. At a quick glance, you can learn that a website was
        built with WordPress, React, uses GSAP as an animation library and
        Google Analytics to collect user data.
      </p>

      <p>If you have it installed on your system, go ahead and open it...</p>
      <img
        loading="lazy"
        src="<%= require('./article/technologies.png') %>"
        alt=""
      />
      <p>
        At the time of writing, Wappalyzer detects a whopping
        <strong>1,929 technologies</strong> for this single webpage.
      </p>
      <p>...what?? 😳 How come??</p>
      <p>
        Having this much technologies leads to some interesting situations :
      </p>
      <ul>
        <li>
          ⚔️ – This site uses both React, AngularJS and Svelte, thus finally
          ending the framework war
        </li>
        <li>
          ✍️ – This site runs on WordPress, Drupal and a hundred other CMS,
          because choosing is renouncing
        </li>
        <li>
          🤑 – Because having a performant website is cool, but money is cooler,
          I have 83 advertising platforms, 67 payment gateways and 177
          e-commerce solutions running at the same time
        </li>
        <li>
          💼 – I am fully invested in the Atlassian suite with both Atlassian
          Confluence, Atlassian Jira Issue Collector, Atlassian Bitbucket and
          Atlassian FishEye running. Typing HTML is serious business.
        </li>
        <li>
          👴 – ...Oh, and <strong>a lot</strong> of jQuery stuff: jQuery, jQuery
          Sparklines, jQuery-pjax, jQuery Mobile, jQTouch, jQuery UI, jQuery
          Migrate and jQuery DevBridge Autocomplete.
        </li>
      </ul>

      <p>
        Let me tell you how I was able to exploit the Wappalyzer Chrome
        Extension by reverse-engineering its inner workings.
      </p>

      <h2>How does Wappalyzer work?</h2>
      <p>
        Wappalyzer is open source. If you want, you can fork their
        <a href="https://github.com/AliasIO/wappalyzer">GitHub repository</a>
        and add your own technology to their list.
      </p>
      <p>Every technology has a signature:</p>
      <p>
        This signature can either be the source of a
        <code>&lt;script src="..."&gt;</code> tag, some variable in the global
        JavaScript scope <code>window.$crisp = { ... }</code> or the name of a
        cookie set on the page.
      </p>
      <p>
        There are some more patterns that can be used to match a technology, the
        full list
        <a href="https://github.com/AliasIO/wappalyzer#patterns-optional"
          >can be found here.</a
        >
      </p>

      <p>Once I knew how this tool worked, here's what I did:</p>

      <ol>
        <li>
          Download the full list of technologies from the Wappalyzer repository.
          They are divided into several JSON files available
          <a
            href="https://github.com/AliasIO/wappalyzer/tree/master/src/technologies"
            >for download here</a
          >.
        </li>
        <li>
          Parse each technology, get the regex used to match its signature.
        </li>
        <li>
          Use the awesome
          <a href="https://github.com/fent/randexp.js">randexp library</a> to
          generate a random string that matches each regex.
        </li>
        <li>
          Generate either a script tag, a cookie or create a variable with the
          informations obtained from the previous steps.
        </li>
      </ol>

      <p>
        Here's an abridged version of the script used for this experiment. You
        can find the full version on my
        <a
          href="https://github.com/jverneaut/laboratoire/tree/master/src/wappalyzer"
          >GitHub repository</a
        >.
      </p>

      <script src="https://gist.github.com/jverneaut/028b4e87d481b2dabd0194d93731e37a.js"></script>

      <h2>Should you stop using Wappalyzer?</h2>

      <p>
        This article specifically targeted Wappalyzer as it is the one I use and
        love, but all other tools on the market take a similar approach and
        suffer from the same shortcomings.
      </p>
      <p>
        Should you stop using them because of this article?
        <strong>Absolutely not!</strong>
      </p>
      <p>
        This was merely an exploration of how they work, how you can trick them,
        and have a bit of a laugh along the way.
      </p>

      <h2>Can you hide a website technology?</h2>

      <p>
        As you have seen, tricking them is actually quite easy and you could
        easily obfuscate what technology your website is using by manually
        altering the DOM and the global JavaScript scope.
      </p>
      <p>
        At the server level, you could easily hide the php or nginx version by
        manipulating the HTTP headers sent with every request.
      </p>
      <p>
        Since Wappalyzer has never been a threat to your business, you probably
        shouldn't delve into these kinds of practices because
        <a href="https://en.wikipedia.org/wiki/Security_through_obscurity"
          >security through obscurity
        </a>
        is never really viable in the long run.
      </p>
      <p>
        In short, you could easily hide a website technology, but if you're
        using a vulnerable version of a specific software in the first place,
        you have bigger problems than trying to hide its version to your users.
      </p>
      <p>
        The Web should be an open platform, what technology stack you use
        shouldn't matter as much as what you do with it.
      </p>

      <hr />

      <p>
        I tweeted about this and had a fun exchange with the @wappalyzer Twitter
        account:
      </p>
      <blockquote class="twitter-tweet">
        <p lang="und" dir="ltr">🥺</p>
        &mdash; Wappalyzer (@Wappalyzer)
        <a
          href="https://twitter.com/Wappalyzer/status/1469380668635242503?ref_src=twsrc%5Etfw"
          >December 10, 2021</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>

      <p>
        To rephrase my answer to the above Tweet, I think this short experiment
        is more of a statement of the quality of this tool than a rant about it.
        Being able to identify 2,000+ technologies is a lot, and I’m glad that a
        tool exists to be able to discover them.
      </p>

      <p class="note">
        (Note to prospective readers: I actually know and use some of these
        technologies. Not all of them, but enough to create beautiful web pages
        for my clients. If you want to be one of them, you can reach me at
        <a href="mailto:jverneaut@gmail.com">jverneaut@gmail.com</a>.
      </p>
    </div>
  </body>
</html>
