@import '../reset.scss';

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

img {
  display: none;
}

h1 {
  position: fixed;
  bottom: 24px;
  left: 50vw;
  transform: translateX(-50%);
  font-family: sans-serif;
  text-align: center;
}

div {
  position: fixed;
  left: 50%;
  top: 0;
  height: 100%;
  width: 2px;
  content: '';
  display: block;
  background: red;
}
