@import '../reset.scss';

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  position: relative;
  padding: 10%;
  box-sizing: border-box;
}

section img {
  display: block;
  width: 100%;
}

section:nth-of-type(1) img {
  width: 100%;
}

section:nth-of-type(2) img {
  width: 75%;
}

section:nth-of-type(3) img {
  width: 75%;
  margin-left: auto;
}
