<canvas></canvas>
<img id="paper" src="assets/paper-texture.jpg" alt="" />
<img id="car" src="assets/andrei-ianovskii-qXRSqzckI_s-unsplash.jpg" alt="" />
<img id="car-cutout"
  src="assets/andrei-ianovskii-qXRSqzckI_s-unsplash.png"
  alt="" />
<h1>
  Inspired by
  <a target="_PARENT" href="https://www.instagram.com/p/CJtUNQ1qMgX/">
    this Instagram post
  </a>
  from _kickin_
</h1>
