<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pixellisation</title>
    <meta name="category" content="WebGL 🔥" />
    <meta name="date" content="1741734467042" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>

  <body>
    <div class="title">
      <h1>Pixellisation</h1>
      <p>
        <span>An</span>
        <span>experimental</span>
        <span>WebGL</span>
        <span>pixellisation</span>
        <span>shader</span>
      </p>
    </div>

    <div class="images-loader">
      <div class="image-container">
        <img
          src="<%= require('./assets/images/Close-up Portrait with Red Bar.jpeg').src %>"
        />
      </div>
      <div class="row">
        <div class="image-container">
          <img
            src="<%= require('./assets/images/Modern Sofa Trio.jpeg').src %>"
          />
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            deleniti eligendi expedita rerum nobis harum sint.
          </h2>
        </div>
        <div class="image-container">
          <img
            src="<%= require('./assets/images/Elegant Woman in Black.jpeg').src %>"
          />
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            deleniti eligendi expedita rerum nobis harum sint.
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="image-container">
          <img
            src="<%= require('./assets/images/Vibrant Interior with Lush Greenery.jpeg').src %>"
          />
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            deleniti eligendi expedita rerum nobis harum sint.
          </h2>
        </div>
        <div class="image-container">
          <img
            src="<%= require('./assets/images/Futuristic Visor Portrait.jpeg').src %>"
          />
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            deleniti eligendi expedita rerum nobis harum sint.
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>
