@import '../reset.css';

@font-face {
  font-family: OT Jubilee;
  src: url('./assets/fonts/OTJubilee-Diamond.woff2') format('woff2'),
    url('./assets/fonts/OTJubilee-Diamond.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: PP Neue Montreal;
  src: url('./assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('./assets/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: PP Neue Montreal;
  src: url('./assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
    url('./assets/fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html {
  font-family: PP Neue Montreal;

  background: #73200d;
  color: #ffc081;
  filter: contrast(0.82) saturate(1.2) hue-rotate(-4deg);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  position: fixed;
  font-size: 12vw;
  text-transform: uppercase;
  left: 50%;
  top: calc(50% - 3vw);
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 100;
  filter: blur(0.5px);
  mix-blend-mode: difference;
  z-index: 100;
}

h1 {
  font-family: OT Jubilee;
  font-size: 13vw;
  text-transform: uppercase;
  line-height: 0.9;
}

.title p {
  font-size: 0.7vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.images-loader {
  filter: blur(0.5px);
  position: relative;

  &::after {
    pointer-events: none;
    position: absolute;
    display: block;
    content: '';
    top: calc(50% - 6.25vw);
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    height: calc(100% + 12.5vw);
    z-index: 10;
    opacity: 0.3;
    background: linear-gradient(
      to right,
      transparent,
      transparent calc(25% - 12px),
      #ffc081 calc(25% - 12px),
      #ffc081 calc(25% - 11px),
      transparent calc(25% - 11px),
      transparent calc(50%),
      #ffc081 calc(50%),
      #ffc081 calc(50% + 1px),
      transparent calc(50% + 1px),
      transparent calc(66.6% - 12px),
      #ffc081 calc(66.6% - 12px),
      #ffc081 calc(66.6% - 11px),
      transparent calc(66.6% - 11px),
      transparent calc(75% + 11px),
      #ffc081 calc(75% + 11px),
      #ffc081 calc(75% + 12px),
      transparent calc(75% + 12px)
    );
  }
}

.row .image-container:nth-of-type(1) {
  &::before {
    left: 0;
    transform: translate(0, -50%);
  }
}

.row .image-container:nth-of-type(2) {
  &::before {
    right: 0;
    transform: translate(0, -50%);
  }
}

.image-container:nth-of-type(1) {
  z-index: 10;
  &::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-container:nth-of-type(2) {
  z-index: 9;
}

.image-container:nth-of-type(3) {
  z-index: 8;
  &::before {
    right: 0;
  }
}

.image-container:nth-of-type(4) {
  z-index: 7;
}

.image-container:nth-of-type(5) {
  z-index: 6;
}

.image-container:nth-of-type(6) {
  z-index: 5;
}

.image-container {
  position: relative;

  &::before {
    pointer-events: none;
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    width: 100vw;
    height: calc(100% + 2vw);
    z-index: -1;
    opacity: 0.3;
    background: linear-gradient(
      to bottom,
      #ffc081,
      #ffc081 1px,
      transparent 1px,
      transparent calc(100% - 1px),
      #ffc081 calc(100% - 1px),
      #ffc081 100%
    );
  }
}

.image-container img {
  display: none;
}

.image-container canvas {
  width: 100%;
  filter: brightness(0.85) contrast(1.1);
}

.image-container canvas:first-of-type {
  filter: brightness(0.8) contrast(1.1) saturate(0.8);
}

.image-container:nth-of-type(1) {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 12.5vw;
  margin-bottom: 12.5vw;
}

.image-container h2 {
  letter-spacing: 0.02em;
  font-size: 3.2vw;
  text-align: justify;
  text-transform: uppercase;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.image-container:nth-of-type(2) {
  width: 50vw;
  margin-top: 12.5vw;
  margin-bottom: 12.5vw;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.row .image-container:nth-of-type(1) {
  position: sticky;
  top: 0;
  height: fit-content;

  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  margin-left: 0;
  margin-top: 0vw;

  h2 {
    font-size: 2vw;
  }
}

.row .image-container:nth-of-type(2) {
  grid-column-start: 5;
  grid-column-end: 7;
  width: 100%;
  margin-left: 0;
  margin-bottom: 20vw;

  h2 {
    font-size: 1.2vw;
  }
}

.row:nth-of-type(3) .image-container:nth-of-type(2) {
  position: sticky;
  top: 0;
  height: fit-content;
  margin-top: 0;
}

@media screen and (max-width: 800px) {
  .row {
    display: flex !important;
    flex-direction: column;
  }

  .image-container {
    position: relative !important;
    width: 80vw !important;
    margin: 10vw !important;

    h2 {
      font-size: 4vw !important;
    }
  }
}

@keyframes noise {
  0% {
    transform: translate(calc(-50% + 30px), calc(-50% - 40px));
  }
  25% {
    transform: translate(calc(-50% + 24px), calc(-50% - 15px));
  }
  50% {
    transform: translate(calc(-50% - 15px), calc(-50% + 5px));
  }
  75% {
    transform: translate(calc(-50% + 25px), calc(-50% - 1px));
  }
  100% {
    transform: translate(calc(-50% - 50px), calc(-50% + 20px));
  }
}

body::after {
  content: '';
  position: fixed;
  display: block;
  background-image: url('./assets/noise.jpeg');
  top: 50%;
  left: 50%;
  height: 120%;
  width: 120%;
  transform: translate(-50%, -50%);
  animation: noise 0.26s infinite;
  animation-timing-function: steps(1, end);
  mix-blend-mode: difference;
  opacity: 0.04;
  z-index: 10;
  user-select: none;
  pointer-events: none;
}
