<div class="images-loader">
  <img src="images/texture.jpg" id="texture" />
  <img src="images/image-1.jpg" class="img" />
  <img src="images/image-2.jpg" class="img" />
  <img src="images/image-3.jpg" class="img" />
  <img src="images/image-4.jpg" class="img" />
</div>

<canvas></canvas>

<h1>
  Press any key or touch the canvas
</h1>
