<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Knockout Text</title>
    <meta name="category" content="CSS Effects" />
    <meta name="date" content="1585526400" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>

  <body>
    <div class="container">
      <h2>my studio</h2>
      <h3>web agency</h3>

      <div class="background">
        Design, Branding, UI/UX, Content Creation, Marketing, Social Media,
        Development
      </div>
    </div>
    <%= htmlWebpackPlugin.options.footerContent %>
  </body>
</html>
