<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Circle Text</title>
    <meta name="category" content="CSS Effects" />
    <meta name="date" content="1583280000" />
    <%= htmlWebpackPlugin.options.metaString %>
  </head>

  <body>
    <h1>Click anywhere</h1>
    <img
      src="<%= require('./wow.gif').default %>"
      alt=""
      style="visibility: hidden;"
    />
  </body>
</html>
