<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Screens</title>
    <meta name="category" content="Canvas 2D" />
    <meta name="date" content="1589241600" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <video autoplay loop playsinline autoplay></video>
    <canvas></canvas>
    <p>For personal use only</p>
    <%= htmlWebpackPlugin.options.footerContent %>
  </body>
</html>
