<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;800&display=swap"
      rel="stylesheet"
    />

    <title>Locomotive Scroll</title>
    <meta name="category" content="Scroll" />
    <meta name="date" content="1593561600" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <main data-scroll-container class="loading">
      <section class="section section--1" data-scroll-section>
        <h2 class="section__title-bg">Section 1</h2>
        <figure>
          <div class="section__img" data-scroll data-scroll-speed="2">
            <img
              src="<%= require('./img/austin-wade-X6Uj51n5CE8-unsplash.jpg?size=1000').src %>"
              alt=""
            />
          </div>
          <div class="section__content-container" data-scroll>
            <div class="section__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
              rerum suscipit quas enim quos quam fuga repellendus voluptatem
              mollitia voluptates dolorem molestiae, laboriosam maiores
              quibusdam minus sequi autem fugit odio!
            </div>
          </div>
        </figure>
        <span class="section__title-fg">Section 1</span>
      </section>

      <section class="section section--2" data-scroll-section>
        <h2 class="section__title-bg">Section 2</h2>
        <figure>
          <div class="section__img" data-scroll data-scroll-speed="2">
            <img
              src="<%= require('./img/gabriel-silverio-u3WmDyKGsrY-unsplash.jpg?size=1000').src %>"
              alt=""
            />
          </div>
          <div class="section__content-container">
            <div class="section__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
              rerum suscipit quas enim quos quam fuga repellendus voluptatem
              mollitia voluptates dolorem molestiae, laboriosam maiores
              quibusdam minus sequi autem fugit odio!
            </div>
          </div>
        </figure>
        <span class="section__title-fg">Section 2</span>
      </section>

      <section class="section section--3" data-scroll-section>
        <h2 class="section__title-bg">Section 3</h2>
        <figure>
          <div class="section__img" data-scroll data-scroll-speed="2">
            <img
              src="<%= require('./img/tyler-nix-PQeoQdkU9jQ-unsplash.jpg?size=1000').src %>"
              alt=""
            />
          </div>
          <div class="section__content-container">
            <div class="section__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
              rerum suscipit quas enim quos quam fuga repellendus voluptatem
              mollitia voluptates dolorem molestiae, laboriosam maiores
              quibusdam minus sequi autem fugit odio!
            </div>
          </div>
        </figure>
        <span class="section__title-fg">Section 3</span>
      </section>
    </main>
  </body>
</html>
