@import '../reset.scss';

body {
  background: black;
}

video,
canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 800px;
  transform: translate(-50%, -50%) scaleX(-1);
}

div {
  width: 100vw;
  display: block;
  position: fixed;
  top: 50%;
  left: 0;
  content: '';
  height: 12px;
  background: linear-gradient(
    to bottom,
    rgba(cyan, 0),
    rgba(cyan, 0.5) 40%,
    rgba(cyan, 1) 50%,
    rgba(cyan, 0.5) 60%,
    rgba(cyan, 0) 100%
  );

  opacity: 0;
}

h1 {
  position: fixed;
  bottom: 40px;
  left: 50%;
  color: white;
  font-family: sans-serif;
  transform: translate(-50%, -100%);
}
