@import '../reset.css';

.images-loader {
  display: none;
}

html {
  background: white;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-size: 0;
  justify-content: center;
}

h1 {
  font-family: monospace;
  font-size: 12px;
  text-transform: lowercase;
  margin-top: 40px;
}
