@import '../src/reset.css';

$primary: #343a40;
$accent: #f03e3e;
$dark: #f1f3f5;

body {
  font-family: sans-serif;
  background: white;
  padding: 80px 120px;

  min-height: 100vh;
  box-sizing: border-box;
}

.experiments {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  margin-left: -16px;
  margin-right: -16px;
}

.experiment {
  width: calc(25% - 32px);
  background: white;
  border-radius: 8px;
  margin: 0 16px;
  margin-bottom: 16px;
  text-decoration: none;
  margin-bottom: 40px;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    filter: invert(1) saturate(0) brightness(1.1) contrast(1.1);
  }

  @media screen and (max-width: 1200px) {
    width: calc(33.33% - 32px);
  }
  @media screen and (max-width: 1000px) {
    width: calc(50% - 32px);
  }
  @media screen and (max-width: 600px) {
    width: calc(100% - 32px);
  }
}

.experiment__info {
  padding: 16px 20px;
}

.experiment__title {
  color: #343a40;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.experiment__date {
  color: #adb5bd;
  font-size: 14px;
}

.experiment__img {
  width: 100%;
  position: relative;
  background: #f1f3f5;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    padding-bottom: 60%;
  }
}

.experiment__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s;
}

.experiment:hover .experiment__img img {
  transform: scale(1.01) rotate(1deg);
}

h1 {
  font-size: 54px;
  font-weight: bold;
  color: $primary;
}

.paragraphs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  max-width: 680px;
}

.paragraphs p {
  padding-right: 20px;
  line-height: 1.5;
  color: #868e96;
  width: 50%;

  @media screen and (max-width: 980px) {
    width: 100%;
  }
}

.paragraphs p + p {
  margin-top: 16px;
}

.paragraphs p a {
  font-weight: bold;
  color: $primary;
}

.btn {
  padding: 14px 16px;
  font-size: 14px;
  display: inline-block;
  color: $dark;
  text-decoration: none;
  background: #15aabf;
  margin-top: 40px;
  border-radius: 4px;
}
