@import '../src/reset.css';

$primary: #343a40;
$accent: #19aabf;
$dark: #f1f3f5;

body {
  font-family: sans-serif;
  background: white;
  padding: 80px 120px;
  font-family: 'Muli', sans-serif;

  min-height: 100vh;
  box-sizing: border-box;

  @media screen and (max-width: 720px) {
    padding: 24px 40px;
  }
}

.experiments {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: -16px;
  margin-right: -16px;
}

.experiment {
  width: calc(25% - 32px);
  background: white;
  border-radius: 8px;
  margin: 0 16px;
  margin-bottom: 16px;
  text-decoration: none;
  margin-bottom: 40px;
  overflow: hidden;
  transition: 0.2s filter;

  &:hover {
    filter: invert(1) saturate(0) brightness(1.1) contrast(1.1);
  }

  @media screen and (max-width: 1200px) {
    width: calc(33.33% - 32px);
  }
  @media screen and (max-width: 1000px) {
    width: calc(50% - 32px);
  }
  @media screen and (max-width: 600px) {
    width: calc(100% - 32px);
  }
}

.experiment__info {
  padding: 16px 20px;
}

.experiment__title {
  color: #343a40;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
  letter-spacing: -0.2px;
}

.experiment__date {
  color: #adb5bd;
  font-size: 14px;
}

.experiment__img {
  width: 100%;
  position: relative;
  background: #f1f3f5;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    padding-bottom: 60%;
  }
}

.experiment__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

.experiment:hover .experiment__img img {
  transform: scale(1.04) rotate(1deg);
}

h1 {
  font-size: 46px;
  font-weight: 900;
  letter-spacing: -0.6px;
  color: $primary;
}

.paragraphs {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.paragraphs p {
  line-height: 1.6;
  color: #868e96;

  @media screen and (max-width: 980px) {
    width: 100%;
  }
}

.paragraphs p + p {
  margin-top: 12px;
}

.paragraphs p a {
  font-weight: bold;
  color: #19aabf;
}

.btn {
  padding: 14px 16px;
  font-size: 14px;
  display: inline-block;
  color: $dark;
  text-decoration: none;
  background: #15aabf;
  border-radius: 8px;
  margin-top: 24px;
  font-weight: bold;
}

.filters {
  margin: 0 -16px;
  margin-top: 32px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  padding: 16px 0;
  @media screen and (max-width: 720px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.filters__group {
  width: 50%;
  padding-right: 32px;
  margin: 0 16px;

  @media screen and (max-width: 720px) {
    display: flex;
    align-items: center;
    padding-right: 0;
    width: calc(100% - 32px);

    & + .filters__group {
      margin-top: 16px;
    }
  }
}

.filters__group h3 {
  margin-bottom: 8px;
  font-weight: bold;

  @media screen and (max-width: 720px) {
    white-space: nowrap;
    margin-right: 8px;
  }
}

.filters__group ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 720px) {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.filters__group ul li {
  margin-right: 4px;
  margin-bottom: 4px;
}

.filters__group ul li button {
  height: 32px;
  -webkit-appearance: none;
  background: none;
  border: none;
  border: 1px solid #f1f3f5;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    border-color: #868e96;
    background: #868e96;
    color: white;
  }
}
