@import '../src/reset.css';

$primary: #fd7e14;
$light: #f1f3f5;
$dark: #343a40;
$darker: #1f252b;

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #fffbf7 0%, white 200px);
  font-family: 'Muli', sans-serif;

  min-height: 100vh;
  box-sizing: border-box;
}

main {
  padding: 80px 120px;
  @media screen and (max-width: 720px) {
    padding: 24px 40px;
  }
}

.experiments {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: -16px;
  margin-right: -16px;
}

.experiment {
  width: calc(25% - 32px);
  background: white;
  border-radius: 8px;
  margin: 0 16px;
  margin-bottom: 16px;
  text-decoration: none;
  margin-bottom: 40px;
  overflow: hidden;
  transition: 0.2s filter;
  outline: none;

  &:focus,
  &:hover {
    filter: invert(1) saturate(0) brightness(1.1) contrast(1.1);
  }

  @media screen and (max-width: 1200px) {
    width: calc(33.33% - 32px);
  }
  @media screen and (max-width: 1000px) {
    width: calc(50% - 32px);
  }
  @media screen and (max-width: 600px) {
    width: calc(100% - 32px);
  }
}

.experiment a {
  text-decoration: none;
}

.experiment__info {
  padding: 16px 20px;
}

.experiment__title {
  color: #343a40;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
  letter-spacing: -0.2px;
}

.experiment__date {
  color: #adb5bd;
  font-size: 14px;
}

.experiment__img {
  width: 100%;
  position: relative;
  background: #f1f3f5;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    padding-bottom: 60%;
  }
}

.experiment__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
}

.experiment:hover .experiment__img img {
  transform: scale(1.04) rotate(1deg);
}

h1 {
  font-size: 46px;
  font-weight: 900;
  letter-spacing: -0.6px;
  color: $dark;
  max-width: 720px;
  line-height: 1.2;

  @media screen and (max-width: 1000px) {
    font-size: 32px;
    max-width: 480px;
  }

  @media screen and (max-width: 720px) {
    font-size: 24px;
    max-width: 320px;
  }
}

.paragraphs {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.paragraphs p {
  line-height: 1.6;
  color: #495057;

  @media screen and (max-width: 980px) {
    width: 100%;
  }
}

.paragraphs p + p {
  margin-top: 12px;
}

.paragraphs p a {
  font-weight: bold;
  color: $primary;
}

.btn {
  padding: 14px 16px;
  font-size: 14px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background: $primary;
  border-radius: 8px;
  margin-top: 24px;
  font-weight: bold;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-family: inherit;
  -webkit-appearance: none;
  cursor: pointer;
  border-width: 1px;
  line-height: 1;

  &:hover,
  &:focus {
    background: #343a40;
    color: white;
  }
}

.btn-outline {
  color: $dark;
  background: transparent;
}

.filters {
  margin: 0 -16px;
  margin-top: 32px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  padding-top: 12px;
  padding-bottom: 8px;

  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.filters__group {
  width: 50%;
  margin: 0 16px;

  @media screen and (max-width: 720px) {
    display: flex;
    align-items: center;
    padding-right: 0;
    width: calc(100% - 32px);

    & + .filters__group {
      margin-top: 16px;
    }
  }
}

.filters__group h3 {
  margin-bottom: 8px;
  font-weight: bold;
  color: #343a40;

  @media screen and (max-width: 720px) {
    white-space: nowrap;
    margin-right: 8px;
  }
}

.filters__group ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 720px) {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.filters__group ul li {
  margin-right: 4px;
  margin-bottom: 4px;
}

.filters__group ul li button {
  height: 32px;
  -webkit-appearance: none;
  background: none;
  border: none;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #495057;
  outline: none;

  &.active {
    border-color: #fff4e6;
    background: #fff4e6;
    color: #f76707;
  }
}

body.iframe-container {
  overflow: hidden;
  background: white;

  iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.loader {
  position: fixed;
  height: 2px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.loader__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: left;
  background: $primary;
  transform: scaleX(0);
  opacity: 0;
  transition: 0.2s;
}

button,
.paragraphs a {
  &:focus {
    outline: none !important;
    box-sizing: border-box !important;
    border: 1px solid $primary !important;
    border-style: dashed !important;
  }
}

.infos {
  display: inline-flex;
  margin-top: 24px;
}

.infos__profile {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  background: $primary;
}

.infos__profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.infos__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}

.infos__name {
  font-weight: bold;
  color: #343a40;
  margin-bottom: 6px;
}

.infos__name a,
.infos__contact {
  font-weight: normal;
  text-decoration: none;
  color: $primary;
}

.newsletter {
  background: $darker;
  width: 100%;
  padding: 24px 32px;
  box-sizing: border-box;
  z-index: 20;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  margin-top: 56px;
  transition: 0.5s opacity;

  @media screen and (max-width: 720px) {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
    border-radius: 0;
    padding: 32px 40px;
    margin-top: 40px;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &--submitting {
    opacity: 0.5;
  }
}

.newsletter__container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.newsletter small {
  display: block;
  color: rgba($light, 0.6);
  font-size: 14px;
  line-height: 1.5;
  margin-top: 6px;
}

.newsletter__content {
  width: 50%;
  box-sizing: border-box;
  padding-right: 80px;
  max-width: 540px;

  @media screen and (max-width: 1200px) {
    padding-right: 40px;
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.newsletter strong {
  font-weight: bold;
}

.newsletter h3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: white;
  line-height: 1.4;
}

.newsletter p {
  color: $light;
  font-size: 16px;
  line-height: 1.6;
}

.newsletter form {
  width: 50%;
  padding-left: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-top: 24px;
    padding-left: 0;
  }
}

.newsletter__fields,
.newsletter__controls {
  display: flex;
  align-items: center;
}

.newsletter__controls {
  margin-top: 12px;
}

.newsletter__controls .btn {
  margin-top: 0;
}

.newsletter .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  & + .input-group {
    margin-left: 8px;
  }
}

.newsletter .input-group label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: $light;
  margin-bottom: 8px;
}

.newsletter .input-group input {
  width: 100%;
  font-family: inherit;
  padding: 12px;
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  background: $dark;
  color: $light;
  font-size: 14px;

  &::placeholder {
    color: rgba($light, 0.6);
  }
}

.newsletter .btn:not(.btn-outline) {
  background: transparent;
  border: 1px solid white;

  &:hover {
    color: $dark;
    background: white;
  }
}

.newsletter .btn-outline {
  margin-left: 12px;
  color: $light;
  color: rgba($light, 0.6);
}

.newsletter__message {
  color: white;
  font-size: 16px;
  margin-top: 16px;
  border-left: 1px solid $primary;
  padding: 4px 16px;
  line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  .filters,
  body {
    background: $darker;
  }

  .experiment {
    background: $dark;
    color: white;
  }

  .filters__group ul li button.active {
    background: $dark;
    border-color: $dark;
    color: white;
  }

  h1,
  .filters__group h3,
  .experiment__title,
  .filters__group ul li button,
  .infos__name,
  .paragraphs p {
    color: white;
  }
}
