body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Bebas Neue', cursive;
  background: #09062d;
}

canvas {
  width: 100%;
  height: 100%;
}

h3 {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  opacity: 0.3;
}
