<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Zoomed Images</title>
    <meta name="category" content="WebGL 🔥" />
    <meta name="date" content="1590969600" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <main>
      <img
        src="<%= require('./img/mat-reding-G4GOnGLUkWk-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-OjIGQUrCsKQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-sjRnh3hBAII-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-TjLzgZh-baw-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-2daofIkWDcQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-cMRtQdYQFd8-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-PTUyjquGLjQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-G4GOnGLUkWk-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-OjIGQUrCsKQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-sjRnh3hBAII-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-TjLzgZh-baw-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-2daofIkWDcQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-cMRtQdYQFd8-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-PTUyjquGLjQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-G4GOnGLUkWk-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-OjIGQUrCsKQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-sjRnh3hBAII-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-TjLzgZh-baw-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-2daofIkWDcQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-cMRtQdYQFd8-unsplash.jpg?size=600').src %>"
        alt=""
      />
      <img
        src="<%= require('./img/mat-reding-PTUyjquGLjQ-unsplash.jpg?size=600').src %>"
        alt=""
      />
    </main>

    <h1>Paris</h1>
  </body>
</html>
