@import '../reset.css';

body {
  overflow: hidden;
}

main {
  display: flex;
  white-space: nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

section {
  display: block;
  width: 90vw;
  min-width: 90vw;
  height: 100vh;
}

h1 {
  position: fixed;
  top: 50vh;
  left: 50vw;
  color: white;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  mix-blend-mode: difference;
  display: flex;
  flex-direction: column;
  user-select: none;
  pointer-events: none;

  span {
    line-height: 0.86;
    display: block;

    &:nth-of-type(2) {
      text-align: center;
    }
  }
}
