<div class="container">
  <h2>
    Cards
  </h2>
</div>
<ul>
  <li>
    <h3>
      Issue 1
    </h3>
    <p>
      Scroll snapping works great with scroll but doesn't really play well with
      javascript.
    </p>
  </li>
  <li>
    <h3>
      Issue 2
    </h3>
    <p>
      In this exemple you cran drag cards around using the
      <strong>scroll()</strong> function. It works but the cards are not snapping
      into place at the end.
    </p>
  </li>
  <li>
    <h3>
      Solution
    </h3>
    <p>
      Sadly, drag and drop scroll is not part of CSS specs at the time.<br />In
      the meantime, the only option I can think of is to control the sroll
      behavior with css and the drag and drop with some level of js.
    </p>
  </li>
  <li>
    <h3>
      Lorem, ipsum dolor.
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto
      consequatur molestiae maxime fuga laborum quod unde eos distinctio
      perspiciatis accusantium aliquam, facilis dolorem qui repudiandae. Dolore
      eveniet corrupti excepturi laborum voluptate.
    </p>
  </li>
  <li>
    <h3>
      Lorem, ipsum dolor.
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto
      consequatur molestiae maxime fuga laborum quod unde eos distinctio
      perspiciatis accusantium aliquam, facilis dolorem qui repudiandae. Dolore
      eveniet corrupti excepturi laborum voluptate.
    </p>
  </li>
  <li>
    <h3>
      Lorem, ipsum dolor.
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto
      consequatur molestiae maxime fuga laborum quod unde eos distinctio
      perspiciatis accusantium aliquam, facilis dolorem qui repudiandae. Dolore
      eveniet corrupti excepturi laborum voluptate.
    </p>
  </li>
  <li>
    <h3>
      Lorem, ipsum dolor.
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto
      consequatur molestiae maxime fuga laborum quod unde eos distinctio
      perspiciatis accusantium aliquam, facilis dolorem qui repudiandae. Dolore
      eveniet corrupti excepturi laborum voluptate.
    </p>
  </li>
  <li>
    <h3>
      Lorem, ipsum dolor.
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto
      consequatur molestiae maxime fuga laborum quod unde eos distinctio
      perspiciatis accusantium aliquam, facilis dolorem qui repudiandae. Dolore
      eveniet corrupti excepturi laborum voluptate.
    </p>
  </li>
  <li>
    <h3>
      Lorem, ipsum dolor.
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto
      consequatur molestiae maxime fuga laborum quod unde eos distinctio
      perspiciatis accusantium aliquam, facilis dolorem qui repudiandae. Dolore
      eveniet corrupti excepturi laborum voluptate.
    </p>
  </li>
</ul>
