body {
  height: 200vh;
  background: #ede7e3;
}

video {
  display: none;
}

canvas {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  max-width: 1280px;
}

p {
  position: fixed;
  bottom: 40px;
  left: 50%;
  font-family: sans-serif;
  color: black;
  font-size: 12px;
  transform: translateX(-50%);
}
