<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vertical Slits</title>
    <meta name="category" content="Canvas 2D" />
    <meta name="date" content="1594115410671" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <canvas id="tmp"></canvas>
    <canvas id="image"></canvas>
    <canvas id="stripes"></canvas>
    <div class="input-group">
      <label for="frames">Frames: 5 </label>
      <input type="range" name="" id="frames" min="1" max="25" value="5" />
    </div>
    <%= htmlWebpackPlugin.options.footerContent %>
  </body>
</html>
