<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Erase Image</title>
    <meta name="category" content="Canvas 2D" />
    <meta name="date" content="1595254478173" />
    <%= htmlWebpackPlugin.options.metaString %>
  </head>
  <body>
    <figure>
      <img src="<%= require('./mountain.jpg').src %>" alt="" />
      <canvas></canvas>
      <img src="<%= require('./sea.jpg').src %>" alt="" />
    </figure>
  </body>
</html>
