@import '../reset.css';

body {
  background: #f4f4f4;
}

canvas {
  border: 1px solid red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:nth-of-type(1) {
    display: none;
  }

  &:nth-of-type(2) {
    // opacity: 0;
    pointer-events: none;
  }
}
