body {
  background: yellow;
}

canvas {
  background: #222222;
  border-radius: 32px;
  box-shadow: 0px 20px 40px rgba(black, 0.2);
  height: 100%;
  aspect-ratio: 900/1600;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  position: fixed;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vh 0;
  box-sizing: border-box;
}

.phone {
  position: relative;
  height: 100%;
  max-height: 600px;
  background: black;
  border-radius: 60px;
  overflow: hidden;
  padding: 24px;
  margin: 24px;

  &::before {
    position: absolute;
    content: '';
    display: block;
    background: black;
    top: 0;
    height: 48px;
    width: 200px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  &::after {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    border-radius: 64px;
    content: '';
    display: block;
    background: rgba(white, 0.2);
    border: 4px solid white;
  }
}

.hide {
  display: none;
}
