<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />

    <title>Particles Text</title>
    <meta name="category" content="Canvas 2D" />
    <meta name="date" content="1579824000000" />
    <%= htmlWebpackPlugin.options.headContent %>
  </head>
  <body>
    <canvas></canvas>
    <h3>Type something</h3>
    <%= htmlWebpackPlugin.options.footerContent %>
  </body>
</html>
