@import '../reset.css';

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(black, 0.03), rgba(black, 0.07));
}

$height: 80vh;

canvas {
  background: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $height * 21 / 29.7;
  height: $height;
  box-shadow: 3px 4px 10px -5px rgba(0, 0, 0, 0.1),
    5px 12px 20px 0px rgba(0, 0, 0, 0.05);
}

img {
  display: none;
}

h1 {
  font-family: monospace;
  position: fixed;
  bottom: 0.25 * (100vh - $height);
  left: 50%;
  transform: translate(-50%, 50%);
  color: black;

  a {
    color: rgb(255, 50, 0);
  }
}
